<div class="cont">

  <div class="form">
    <form #form="ngForm" (ngSubmit)="authenticate(form)">
      <h1>Login</h1>
      <input type="text"
             class="user"
             placeholder="Username" name="username"
             ngModel />
      <input type="password" name="password"
             class="pass"
             placeholder="Password"
             ngModel />
      <button class="login" type="submit" [disabled]="form.invalid">Login</button>
      <p class="login-register-link">No tienes una cuenta, crea la tuya <a routerLink="/register" routerLinkActive="active">aqui</a></p>
    </form>


  </div>
</div>
