<ngx-spinner
  bdOpacity = 0.9
  bdColor = "#333"
  size = "medium"
  color = "#fff"
  type = "ball-atom"
  [fullScreen] = "true">
  <p style="color: white" > Loading... </p>
</ngx-spinner>
<div class="characters-view">

  <div *ngIf="characters" class="character-list">
      <div *ngFor="let character of characters;" class="character-card">
        <img [src]="character.image" class="card-img-top">
        <div class="character-card-body">
          <h3>{{character.name }} </h3>
          <p class="card-text">
            {{character.gender}}
            {{character.species}}
            {{character.status}}</p>
        </div>
      </div>
  </div>
</div>
